

.profile__form {
  display: flex;
  gap: 2rem;
}
.photo__label {
  width: 15rem;
  height: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light-light-grey);
}
.photo__label img {
  box-sizing: border-box;
  width: 8rem;
}
.profile__form__right,
.profile__form {
  width: 100%;
}
.profile__form input {
  height: 3rem;
  border: 1px solid var(--color-light-light-grey);
  background-color: white;
}

input[type="file"] {
  display: none;
}

.notifications {
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-light-light-grey);
  height: 3rem;
  padding: 0 2rem;
}

.change__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile__right__btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.profile__right__btns button {
  max-width: 20rem;
}
.profile__right__btns button:nth-child(1) {
  background-color: var(--color-light-grey);
  color: var(--color-black);
}
@media (max-width: 900px) {
  .profile__form {
    flex-direction: column;
  }
  .profile__form__left {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  main {
    
    top: 25rem;
  }
  .page {
    flex-direction: column;
    justify-content: center;
  }

  .page__left,
  .page__right {
    width: 100%;
  }
 
  .profile__form {
    flex-direction:row;
  }
  .profile__form__left {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .profile__form {
    padding: 2rem;
    flex-direction: column;
  }
}
