*, *::after,  *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    }
    
    html{
    box-sizing: border-box;
    font-size: 62.5%;
       
    }
    :root{
        --main-font1:'Poppins', sans-serif;
        --color-black:black;
        --color-white:white;
        --color-light-grey:#F4F4F4;
        --color-light-light-grey:#DDD;
        --color-sky:#6673FC;
        --color-light-sky:#EAEEF3;

      
    
    }
    
    body{
       height: 100vh;
        background-color: var(--color-white);
        color:var(--color-black) ;
        font-family: var(--main-font1);
        font-style: normal;
        font-size: 1.6rem;
       
        
    }
    a{
        text-decoration: none;
    }
    ul{ 
        
        display: flex;
        
        font-size: 1.4rem;
       
        column-gap: 4.3rem;
    list-style-type: none;
    }
    
    
    img{
        width: 100%;
        height: 100%;
        background-size: cover;
       
    }
    input{
        font-weight: 400;
        padding-left: 1rem;
        width: 100%;
        background-color: var(--color-light-grey);
    }
    h3{
        font-weight: 600;
        font-size: 1.6rem;
        color: var( --color-red-light);
    }
    h1{
        font-size: 3.6rem;
        font-weight: 600;
    }
    select,label{
        cursor: pointer;
    }
    
    .container{
        margin: 0 auto;
        max-width: 150rem;
        width: 100%;
        padding: 0 1rem;
    }